<div class="p-4">
    <h1 class="text-lg font-semibold px-8 pt-4">Directory List</h1>
    <div class="masonry-dir">
        {{ range .Dirs }}
        <div class="brick bg-white overflow-hidden break-all">
            <div class="relative">
                <div class="mb-4 flex align-middle items-center gap-2  w-5/6">
                    <i class="fas fa-folder"></i>
                    <a href="/view?dir={{ if eq $.Directory "/" }}{{ .Name }}{{ else }}{{ $.Directory }}/{{ .Name }}{{ end }}/" class="text-blue-500 hover:text-blue-700 font-bold">{{ .Name }}/</a>
                </div>
                <div class="text-gray-600 text-sm flex gap-4 justify-between pt-10">
                    <p>{{ .Size }}</p>
                    <p>{{ .Mode }}</p>
                    <p>{{ .Date }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>