<main class="container">
    <h1 class="h1">Directory List</h1>
    <div class="grid">
        {{ range .Dirs }}
        <div class="card" style="overflow: hidden; word-break: break-all;">
            <div style="position: relative;">
                <div class="d-flex align-items-center gap-2" style="margin-bottom: 1rem; width: 83.333%;">
                    <i class="fas fa-folder"></i>
                    <a href="/view?dir={{ if eq $.Directory "/" }}{{ .Name }}{{ else }}{{ $.Directory }}/{{ .Name }}{{ end }}/" class="text-primary font-bold">{{ .Name }}/</a>
                </div>
                <div class="text-secondary small d-flex justify-content-between" style="padding-top: 2.5rem;">
                    <p>{{ .Size }}</p>
                    <p>{{ .Mode }}</p>
                    <p>{{ .Date }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</main>
