<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/pico.vendor.css" />
    <link rel="stylesheet" href="/css/pico.colors.css" />
    <link href="/css/viewer.min.css" rel="stylesheet">
    <script src="/js/viewer.min.js"></script>
    <script type="module">
        import * as hotwiredTurbo from '/js/turbo.vendor.js';
        window.hotwiredTurbo = hotwiredTurbo
    </script>
</head>
<body>
<main class="container">
    {{if .error}}
    <h3 class="pico-background-red-500">{{.message}}</h3>
    {{end}}
    {{if .success}}
    <h3 class="pico-background-green-500">{{.message}}</h3>
    {{end}}
{{ embed }}
</main>
</body>
</html>
